<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ###### Database beans ###### -->


    <bean id="h2Server" class="org.h2.tools.Server" factory-method="createTcpServer" init-method="start"
          destroy-method="stop" depends-on="h2WebServer" scope="singleton">
        <constructor-arg value="-tcp,-tcpAllowOthers,-tcpPort,9092"/>
    </bean>
    <bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer" init-method="start"
          destroy-method="stop" scope="singleton">
        <constructor-arg value="-web,-webAllowOthers,-webPort,8082"/>
    </bean>

    <bean id="dbConnector" class="sepm.ss15.grp16.persistence.database.impl.H2DBConnectorImpl"
          scope="singleton" init-method="openConnection" destroy-method="closeConnection" depends-on="h2Server">
        <!--<bean id="dbConnector" class="sepm.ss15.grp16.persistence.database.impl.H2DBConnectorImpl"-->
        <!--scope="singleton" init-method="openConnection" destroy-method="closeConnection">-->
        <constructor-arg name="path" value="jdbc:h2:tcp://localhost/~/pumpup"/>
        <constructor-arg name="user" value="sa"/>
        <constructor-arg name="password" value=""/>
    </bean>

    <!-- ###### Main beans ###### -->

    <bean id="mainController" class="sepm.ss15.grp16.gui.controller.main.MainController" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="calendarService" ref="calendarService"/>
        <property name="weightHistoryService" ref="weightHistoryService"/>
        <property name="bodyfatHistoryService" ref="bodyfatHistoryService"/>
        <property name="pictureHistoryService" ref="pictureHistoryService"/>
    </bean>

    <!--<bean id="fxmlLoader" class="sepm.ss15.grp16.gui.FXMLLoaderImpl" init-method="init"/>-->

    <bean id="aboutController" class="sepm.ss15.grp16.gui.controller.main.AboutController" scope="prototype"/>

    <!-- ###### User beans ###### -->

    <bean id="userDAO" class="sepm.ss15.grp16.persistence.dao.user.impl.H2UserDAOImpl"
          scope="singleton">
        <constructor-arg name="handler" ref="dbConnector"/>
    </bean>

    <bean id="userService" class="sepm.ss15.grp16.service.user.impl.UserServiceImpl"
          scope="singleton">
        <constructor-arg name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="weightHistoryDAO" class="sepm.ss15.grp16.persistence.dao.user.impl.H2WeightHistoryDAOImpl"
          scope="singleton">
        <constructor-arg name="handler" ref="dbConnector"/>
    </bean>

    <bean id="weightHistoryService" class="sepm.ss15.grp16.service.user.impl.WeightHistoryServiceImpl"
          scope="singleton">
        <constructor-arg name="weightHistoryDAO" ref="weightHistoryDAO"/>
    </bean>

    <bean id="bodyfatHistoryDAO" class="sepm.ss15.grp16.persistence.dao.user.impl.H2BodyfatHistoryDAOImpl"
          scope="singleton">
        <constructor-arg name="handler" ref="dbConnector"/>
    </bean>

    <bean id="bodyfatHistoryService" class="sepm.ss15.grp16.service.user.impl.BodyfatHistoryServiceImpl"
          scope="singleton">
        <constructor-arg name="bodyfatHistoryDAO" ref="bodyfatHistoryDAO"/>
    </bean>

    <bean id="pictureHistoryDAO" class="sepm.ss15.grp16.persistence.dao.user.impl.H2PictureHistoryDAOImpl"
          scope="singleton">
        <constructor-arg name="handler" ref="dbConnector"/>
    </bean>

    <bean id="pictureHistoryService" class="sepm.ss15.grp16.service.user.impl.PictureHistoryServiceImpl"
          scope="singleton">
        <constructor-arg name="pictureHistoryDAO" ref="pictureHistoryDAO"/>
    </bean>

    <bean id="loginController" class="sepm.ss15.grp16.gui.controller.user.LoginController" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="registrationController" class="sepm.ss15.grp16.gui.controller.user.RegistrationController"
          scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="weightHistoryService" ref="weightHistoryService"/>
        <property name="bodyfatHistoryService" ref="bodyfatHistoryService"/>
        <property name="pictureHistoryService" ref="pictureHistoryService"/>
    </bean>

    <bean id="userEditController" class="sepm.ss15.grp16.gui.controller.user.UserEditController"
          scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="weightHistoryService" ref="weightHistoryService"/>
        <property name="bodyfatHistoryService" ref="bodyfatHistoryService"/>
    </bean>

    <bean id="photoDiaryController" class="sepm.ss15.grp16.gui.controller.user.PhotoDiaryController"
          scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="pictureHistoryService" ref="pictureHistoryService"/>
    </bean>

    <bean id="webcamController" class="sepm.ss15.grp16.gui.controller.user.WebcamController"
          scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="pictureHistoryService" ref="pictureHistoryService"/>
    </bean>

    <!-- ###### Exercise beans ###### -->

    <bean id="exerciseDAO" class="sepm.ss15.grp16.persistence.dao.exercise.impl.H2ExerciseDAOImpl"
          scope="singleton">
        <constructor-arg name="handler" ref="dbConnector"/>
        <constructor-arg name="categoryDAO" ref="categoryDAO"/>
        <constructor-arg name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="exerciseService" class="sepm.ss15.grp16.service.exercise.impl.ExerciseServiceImpl"
          scope="singleton">
        <constructor-arg name="exerciseDAO" ref="exerciseDAO"/>
        <constructor-arg name="userService" ref="userService"/>
    </bean>

    <bean id="categoryDAO" class="sepm.ss15.grp16.persistence.dao.exercise.impl.H2CategoryDAOImpl">
        <constructor-arg name="handler" ref="dbConnector"/>
    </bean>

    <bean id="categoryService" class="sepm.ss15.grp16.service.exercise.impl.CategoryServiceImpl">
        <constructor-arg name="categoryDAO" ref="categoryDAO"/>
    </bean>

    <bean id="exerciseController" class="sepm.ss15.grp16.gui.controller.exercises.ExercisesController"
          scope="prototype">
        <property name="exerciseService" ref="exerciseService"/>
        <property name="categoryService" ref="categoryService"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="manageExerciseController" class="sepm.ss15.grp16.gui.controller.exercises.ManageExerciseController"
          scope="prototype">
        <property name="exerciseService" ref="exerciseService"/>
        <property name="categoryService" ref="categoryService"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="displayExerciseController" class="sepm.ss15.grp16.gui.controller.exercises.DisplayExerciseCotroller"
          scope="prototype">
        <property name="categoryService" ref="categoryService"/>
    </bean>

    <bean id="videoController" class="sepm.ss15.grp16.gui.controller.exercises.VideoController" scope="prototype"/>
    <!-- ###### Calendar beans ###### -->

    <bean id="calendarDAO" class="sepm.ss15.grp16.persistence.dao.calendar.impl.H2CalendarDAOImpl"
          scope="singleton">
        <constructor-arg name="handler" ref="dbConnector"/>
        <property name="sessionDAO" ref="trainingsSessionDAO"/>
    </bean>

    <bean id="calendarService" class="sepm.ss15.grp16.service.calendar.impl.CalendarServiceImpl"
          scope="singleton">
        <constructor-arg name="calendarDAO" ref="calendarDAO"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="calendarController" class="sepm.ss15.grp16.gui.controller.calendar.CalendarController" scope="prototype">
        <property name="calendarService" ref="calendarService"/>
    </bean>


    <!-- ###### Trainingsplan beans ###### -->

    <bean id="trainingsplanDAO" class="sepm.ss15.grp16.persistence.dao.training.impl.H2TrainingsplanDAOImpl"
          scope="singleton" lazy-init="true">
        <constructor-arg name="handler" ref="dbConnector"/>
        <property name="trainingsSessionHelperDAO" ref="trainingsSessionHelperDAO"/>
        <property name="exerciseSetHelperDAO" ref="exerciseSetHelperDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="trainingsplanService" class="sepm.ss15.grp16.service.training.impl.TrainingsPlanServiceImpl">
        <constructor-arg name="trainingsplanDAO" ref="trainingsplanDAO"/>
        <constructor-arg name="trainingsSessionDAO" ref="trainingsSessionDAO"/>
        <constructor-arg name="exerciseService" ref="exerciseService"/>
        <constructor-arg name="userService" ref="userService"/>
    </bean>

    <bean id="trainingsSessionDAO" class="sepm.ss15.grp16.persistence.dao.training.impl.H2TrainingssessionDAOImpl"
          scope="singleton" lazy-init="true">
        <property name="trainingsSessionHelperDAO" ref="trainingsSessionHelperDAO"/>
    </bean>

    <bean id="trainingsSessionHelperDAO"
          class="sepm.ss15.grp16.persistence.dao.training.helper.impl.H2TrainingssessionHelperDAOImpl" scope="singleton"
          lazy-init="true">
        <constructor-arg name="handler" ref="dbConnector"/>
        <property name="exerciseSetHelperDAO" ref="exerciseSetHelperDAO"/>
        <property name="trainingsplanDAO" ref="trainingsplanDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="exerciseSetHelperDAO"
          class="sepm.ss15.grp16.persistence.dao.training.helper.impl.H2ExerciseSetHelperDAOImpl" scope="singleton"
          lazy-init="true">
        <constructor-arg name="handler" ref="dbConnector"/>
        <property name="exerciseDAO" ref="exerciseDAO"/>
        <property name="trainingsSessionHelperDAO" ref="trainingsSessionHelperDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="generateWorkoutPlanController"
          class="sepm.ss15.grp16.gui.controller.workoutPlans.GenerateWorkoutPlanController" scope="singleton">
        <property name="generatedWorkoutplanService" ref="generatedWorkoutplanService"/>
    </bean>

    <bean id="workoutPlanToCalendarController"
          class="sepm.ss15.grp16.gui.controller.workoutPlans.WorkoutPlanToCalendarController" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="trainingsplanService" ref="trainingsplanService"/>
        <property name="calendarService" ref="calendarService"/>
    </bean>

    <bean id="workoutPlansController" class="sepm.ss15.grp16.gui.controller.workoutPlans.WorkoutPlansController"
          scope="prototype">
        <property name="trainingsplanService" ref="trainingsplanService"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="create_edit_WorkoutController"
          class="sepm.ss15.grp16.gui.controller.workoutPlans.Create_Edit_WorkoutPlanController" scope="prototype">
        <property name="trainingsplanService" ref="trainingsplanService"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="sessionEditController_v2" class="sepm.ss15.grp16.gui.controller.workoutPlans.SessionEditController_v2">
        <property name="exerciseService" ref="exerciseService"/>
        <property name="userService" ref="userService"/>
        <property name="trainingsplanService" ref="trainingsplanService"/>
    </bean>

    <bean id="generatedWorkoutplanService"
          class="sepm.ss15.grp16.service.training.impl.GeneratedWorkoutplanServiceImpl">
        <constructor-arg name="exerciseService" ref="exerciseService"/>
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="weightHistoryService" ref="weightHistoryService"/>
    </bean>

    <bean id="generatedWorkoutPlanResultController"
          class="sepm.ss15.grp16.gui.controller.workoutPlans.GeneratedWorkoutPlanResultController" scope="prototype">
        <property name="trainingsplanService" ref="trainingsplanService"/>
    </bean>

    <!-- ###### Workout beans ###### -->

    <bean id="workoutstartController" class="sepm.ss15.grp16.gui.controller.workout.WorkoutstartController"
          scope="prototype">
        <constructor-arg name="userService" ref="userService"/>
    </bean>

    <bean id="playlistController" class="sepm.ss15.grp16.gui.controller.workout.PlaylistController" scope="prototype">

    </bean>

    <bean id="workoutController" class="sepm.ss15.grp16.gui.controller.workout.WorkoutController" scope="prototype">
        <constructor-arg name="exerciseDAO" ref="exerciseDAO"/>
        <constructor-arg name="motivationModul" ref="motivationModul"/>
    </bean>

    <bean id="workoutMusicPlayerController" class="sepm.ss15.grp16.gui.controller.workout.WorkoutMusicPlayerController"
          scope="prototype">
        <constructor-arg index="0" ref="musicService"/>
        <constructor-arg index="1" ref="userService"/>
    </bean>

    <bean id="workoutResultController" class="sepm.ss15.grp16.gui.controller.workout.WorkoutResultController"
          scope="prototype">

    </bean>

    <bean id="musicDAO" class="sepm.ss15.grp16.persistence.dao.music.impl.MusicDAOImpl" scope="singleton">

    </bean>

    <bean id="musicService" class="sepm.ss15.grp16.service.music.impl.MusicServiceImpl" scope="prototype">
        <constructor-arg ref="musicDAO"/>
    </bean>

    <bean id="motivationModul" class="sepm.ss15.grp16.gui.controller.workout.MotivatonModul" scope="prototype">
        <constructor-arg ref="musicService"/>
    </bean>

    <bean id="bodyfathelp" class="sepm.ss15.grp16.gui.controller.main.BodyfatHelpController" scope="prototype">
    </bean>
</beans>