.editBtn {
    -fx-background-image: url('../icons/configuration.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;

}

.deleteBtn {
    -fx-background-image: url('../icons/delete.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;

}

.addBtn {
    -fx-background-image: url('../icons/add.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.categoryHeader {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 17pt;
}

.button:hover {

}

.button:pressed{
    -fx-background-color: rgba(135,186,215,0.7);
    -fx-text-fill: white;
}

.table-view {

    -fx-base: white;
    /*for the inner layout of the table view*/
    -fx-control-inner-background: white;
    /*outer root element*/
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-border-color: black black black black;

}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: black;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;

}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: black;
}

.searchField, .descriptionArea {
    -fx-border-color: black black black black;
}

.searchField:focused, .descriptionArea:focused {
    -fx-border-color: black black black black;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* its make really one-pixel-border */
    -fx-border-color: black;
}

.check-box {
    -fx-font-size: 12pt;
}



.btnPlay {
    -fx-background-image: url('../icons/music_play.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Pause {
    -fx-background-image: url('../icons/music_pause.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnBack , .btnVideo, .cancelBtn, .saveBtn{
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.categoryHeader{
    -fx-font-size: 25 px;
    -fx-font-style: oblique;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

