.savePlanBtn{
	-fx-background-image: url('../icons/save.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 20%;
}

.backBtn{
	-fx-background-image: url('../icons/back_arrow.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 20%;
}

.title{
	-fx-color:#000000;
	-fx-font-family: 'Palatino Linotype','Book Antiqua', Palatino, serif;
}