.savePlanBtn{
	-fx-background-image: url('../icons/save.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.backBtn{
	-fx-background-image: url('../icons/back_arrow.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.button:hover{
    -fx-background-size: 90%;
}

.title{
	-fx-color:#000000;
	-fx-font-family: 'Palatino Linotype','Book Antiqua', Palatino, serif;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}