.root, .tableView, .navigation, .spliter{
    -fx-background-color: lightgrey;
    -fx-border-color: lightgray;
}

.btnLogin {
    -fx-background-image: url('../icons/Login.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnLogin:hover {
    -fx-background-size: 90%;
}

.btnRegister {
    -fx-background-image: url('../icons/Clipboard_with_pencil.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnRegister:hover {
    -fx-background-size: 90%;

}