.root, .mainBox, .webCalender, .spliter{
    -fx-background-color: white;

}

.trainingBtn{
    -fx-background-image: url('../icons/training.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 75%;
    -fx-background-size: 10%;
    -fx-text-alignment: left;
}

.btnLogin {
    -fx-background-image: url('../icons/Login.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnRegister {
    -fx-background-image: url('../icons/Clipboard_with_pencil.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.button:hover {
    -fx-background-size: 90%;
}

.table-view {

    -fx-base: white;
    /*for the inner layout of the table view*/
    -fx-control-inner-background: white;
    /*outer root element*/
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
    transparent
    transparent
    derive(black, 100%)
    transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;

}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: black;
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

