.workoutPlanBox {
    -fx-font-size: 11pt;
}

.workoutPlanBox .label {
    -fx-font-size: 11pt;
}

.workoutPlanBox .button {
    -fx-font-size: 11pt;
}

#trainings-table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;

}

.btnUp {
    -fx-background-image: url('../icons/up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnUp:hover {
    -fx-background-color: cyan;
}

.btnDown {
    -fx-background-image: url('../icons/down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDown:hover {
    -fx-background-color: cyan;
}

.btnRight {
    -fx-background-image: url('../icons/forward.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnLeft {
    -fx-background-image: url('../icons/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnShow {
    -fx-background-image: url('../icons/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnEdit {
    -fx-background-image: url('../icons/edit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDelete {
    -fx-background-image: url('../icons/delete.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnAdd {
    -fx-background-image: url('../icons/add.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnCopy {
    -fx-background-image: url('../icons/copy.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnIncr {
    -fx-background-image: url('../icons/increase.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDecr {
    -fx-background-image: url('../icons/decrease.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Play {
    -fx-background-image: url('../icons/music_play.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Pause {
    -fx-background-image: url('../icons/music_pause.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Shuffle {
    -fx-background-image: url('../icons/music_shuffle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Skip {
    -fx-background-image: url('../icons/music_skip.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Last {
    -fx-background-image: url('../icons/music_last.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Shuffle {
    -fx-background-image: url('../icons/music_shuffle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Shuffle:selected {
    -fx-background-size: 90%;
}

.btnMusic_Volume {
    -fx-background-image: url('../icons/music_volume.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Volume:selected {
    -fx-background-image: url('../icons/music_mute.png');
}

.button:hover {
    -fx-background-size: 90%;
}

.btnBack, .btnGenerate, .btnCalendar {
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:pressed{
    -fx-background-color: rgba(135,186,215,0.7);
    -fx-text-fill: white;
}