.workoutPlanBox {
    -fx-font-size: 11pt;
    -fx-background-color: linear-gradient(to bottom, #F2F2F2, #E6E6E6, #CCCCCC, #999999);
    /*-fx-background-color: linear-gradient(to bottom, #F2F2F2, #E6E6E6, #CCCCCC, #B3B3B3 100% ); */
    /*-fx-background-color: linear-gradient(to bottom, #F2F2F2, #E6E6E6, #D9D9D9, #CBCBCB, #BCBCBC); */
    /* -fx-background-color: linear-gradient(to bottom, #E6B3E6, #CC99CC, #B380B3, #804D80, #4D1A4D);; */
    /* -fx-background-color: linear-gradient(to bottom, #FFFFFF, #EAFCFC, #E1FFFF, #CCFFFF);; */
    /* -fx-background-color: linear-gradient(to bottom, #CCFFFF, #CCE6FF, #B3CCFF, #99B3FF, #6D81D3); */
    /* -fx-background-color: linear-gradient(to bottom, #B8DCFF, #CCE6FF, #B3CCFF, #99B3FF, #6D81D3); */
}

.workoutPlanBox .label {
    -fx-font-size: 11pt;
}

.workoutPlanBox .button {
    -fx-font-size: 11pt;
}

#trainings-table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.btnUp {
    -fx-background-image: url('../icons/up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnUp:hover {
    -fx-background-color: cyan;
}

.btnDown {
    -fx-background-image: url('../icons/down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDown:hover {
    -fx-background-color: cyan;
}

.btnRight {
    -fx-background-image: url('../icons/forward.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnLeft {
    -fx-background-image: url('../icons/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnShow {
    -fx-background-image: url('../icons/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnEdit {
    -fx-background-image: url('../icons/edit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDelete {
    -fx-background-image: url('../icons/delete.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnAdd {
    -fx-background-image: url('../icons/add.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnCopy {
    -fx-background-image: url('../icons/copy.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnIncr {
    -fx-background-image: url('../icons/increase.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDecr {
    -fx-background-image: url('../icons/decrease.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Play {
    -fx-background-image: url('../icons/music_play.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Pause {
    -fx-background-image: url('../icons/music_pause.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Shuffle {
    -fx-background-image: url('../icons/music_shuffle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Skip {
    -fx-background-image: url('../icons/music_skip.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Last {
    -fx-background-image: url('../icons/music_last.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Shuffle {
    -fx-background-image: url('../icons/music_shuffle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Shuffle:selected {
    -fx-background-size: 90%;
}

.btnMusic_Volume {
    -fx-background-image: url('../icons/music_volume.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnMusic_Volume:selected {
    -fx-background-image: url('../icons/music_mute.png');
}

.button:hover {
    -fx-background-size: 90%;
}

.exerciseLabel {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.stopBtn {
    /*-fx-background-color: transparent;*/
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.stopBtn:pressed {
    -fx-background-color: rgba(135, 186, 215, 0.7);
    -fx-text-fill: white;
}

/*. {
    -fx-background-image: url('../icons/relax.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.startBtn {
    -fx-background-image: url('../icons/dumbbell.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.finishBtn {
    -fx-background-image: url('../icons/checkered.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}*/

.activeBarElement {
    -fx-background-color: firebrick;
    -fx-background-radius: 3;
}

.inactiveBarElement {
    -fx-background-color: rgba(222, 222, 222, 1);
    -fx-background-radius: 3;
}

.btnBack, .btnGenerate, .btnCalendar {
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:pressed {
    -fx-background-color: rgba(135, 186, 215, 0.7);
    -fx-text-fill: white;
}