.workoutPlanBox {
    -fx-font-size: 12pt;
}

#trainings-table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;

}

.btnUp {
    -fx-background-image: url('../icons/up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnUp:hover {
    -fx-background-color: cyan;
}

.btnDown {
    -fx-background-image: url('../icons/down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDown:hover {
    -fx-background-color: cyan;
}

.btnRight {
    -fx-background-image: url('../icons/forward.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnLeft {
    -fx-background-image: url('../icons/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnShow {
    -fx-background-image: url('../icons/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnEdit {
    -fx-background-image: url('../icons/edit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnDelete {
    -fx-background-image: url('../icons/delete.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}



.btnAdd {
    -fx-background-image: url('../icons/add.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}



.btnCopy {
    -fx-background-image: url('../icons/copy.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnMusic_Play {
    -fx-background-image: url('../icons/music_play.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnMusic_Pause {
    -fx-background-image: url('../icons/music_pause.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}



.btnMusic_Shuffle {
    -fx-background-image: url('../icons/music_shuffle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnMusic_Skip {
    -fx-background-image: url('../icons/music_skip.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}



.btnMusic_Last {
    -fx-background-image: url('../icons/music_last.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}



.btnMusic_Shuffle {
    -fx-background-image: url('../icons/music_shuffle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}



.btnMusic_Shuffle:selected {
    -fx-background-size: 90%;
}

.btnMusic_Volume {
    -fx-background-image: url('../icons/music_volume.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}


.btnMusic_Volume:selected {
    -fx-background-image: url('../icons/music_mute.png');
}

.button:hover{
    -fx-background-size: 90%;
}