.footer, .header {
-fx-background-color: lightgray;
}


.btnTakePicture {
    -fx-background-image: url('../icons/Photo_camera.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnTakePictureDelay {
    -fx-background-image: url('../icons/Counterclockwise.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnTakePicture:hover, .btnTakePictureDelay:hover {
    -fx-background-size: 90%;
}