.footer {
-fx-background-color: lightgray;
}


.btnTakePicture {
    -fx-background-image: url('../icons/Photo_camera.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}