.footer, .header {
    -fx-background-color: lightgray;
}

.btnTakePicture {
    -fx-background-image: url('../icons/Photo_camera.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
}

.btnTakePictureDelay {
    -fx-background-image: url('../icons/Counterclockwise_red.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.btnShowBodyOutline {
    -fx-background-image: url('../icons/body_icon_red.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: 100%;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.btnTakePicture:hover, .btnTakePictureDelay:hover, .btnShowBodyOutline:hover {
    -fx-background-size: 90%;
}

.btnShowBodyOutline:selected {
    -fx-background-image: url('../icons/body_icon_green.png');
}

.btnTakePictureDelay:selected {
    -fx-background-image: url('../icons/Counterclockwise_green.png');
}